/* Universal Styles */

html {
    background-color: #84aeee;
    color: white;
    font-size: 16px;
    font-family: Montserrat, Roboto, sans-serif;
}

/* Header */
body {
    margin: 0;
}
header {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    height: 400px;
    background-color: #84aeee;
    color: white;
    font-family: Chalkduster, Arial, sans-serif;
    gap: 30px;
    padding: 0 20px;
}
h1 {
    font-size: 2.5rem;
    margin: 0 1%;
    padding: 5px;
    grid-row: 1 / span 2;
    grid-column: 1 / span 6;
    text-align: center;
    padding-top: 25px;
}
#me {
    width: 100%;
    grid-row: 3 / span 2;
    grid-column: 3 / span 2;
    align-self: end;
}
#where {
    grid-column: 4 / span 3;
}
#who {
    grid-column: 1 / span 3;
}
.where-who {
    grid-row: 2 / span 2;
    display: grid;
    place-items: center;
}
.where-who * {
    text-align: center;
}
.where-who h4 {
    font-size: 1.2em;
    margin-bottom: 0;
}
.where-who > p {
    font-family: Montserrat, Roboto, sans-serif;
    font-size: 1.2em;
}
.nav {
    text-decoration: none;
    width: 140px;
    text-align: center;
    background-color: #CFB53B;
    color: white;
    font-family: Montserrat, Roboto, sans-serif;
    font-size: 0.9em;
    font-weight: 200;
    border-radius: 5px;
    box-shadow: rgb(66, 66, 66) -4px 2px;
    position: relative;
}
.nav:hover {
    background-color: #eed774;
}
.nav:active {
    box-shadow: 0 0 #388E3C;
    top: 2px;
    right: 4px;
    background-color: #eed774;
}


/* Portfolio */
#projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121315ed
}
#projects h2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: Chalkduster, Arial, sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 10px 5px 0;
    display: inline-block;
}
#project-container {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
    margin: 40px 0px 40px;
}

#projects img {
    max-width: 300px;
    min-width: 150px;
    height: 100px;
}
.project {
    display: flex;
    flex-direction: vertical;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 200px;
    max-width: 400px;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    color: rgba(0, 0, 0, 0.79);
    border: 3px solid rgba(0, 0, 0, 0.79);
    border-radius: 10px;
    font-family: Montserrat, Roboto, sans-serif;
    margin: 20px;
}
.project * {
    text-align: center;
}
.see-more {
    text-decoration: none;
    color: #121315ed;
    margin: 5px;
}
.see-more * {
    border: 1px solid black;
    padding: 5px 10px;
    margin: 0;
    font-weight: 200px;
    font-size: 0.8em;
    border-radius: 4px;
    background-color: rgb(229, 227, 227);
}
.see-more h4:hover {
    background-color: #eed774;
}
.see-more h4:active {
    background-color: rgb(112, 112, 112);
    border: none;
}


/* Footer */